<ion-view title="Create">
    <ion-content class="positive-bg">
        <div class="list card">

            <!--//Location-->
            <div class="item item-divider assertive">
                location
            </div>

            <label class="item item-input" ng-show="newBeacon.location">
                <span class="input-label">Location:</span>
                <input type="text" ng-model="newBeacon.location" disabled>
            </label>


            <div class="item item-input-inset">

                <label class="item-input-wrapper">
                    <input type="text" placeholder="search for address or place">
                </label>

                <button class="button button-positive button-small">
                    Search
                </button>
            </div>

            <!--//Name and Desc-->
            <div class="item item-divider assertive">
                name and description
            </div>

            <label class="item item-input">
                <span class="input-label">Name:</span>
                <input type="text" ng-model="newBeacon.name">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Description:</span>
                <input type="text" ng-model="newBeacon.desc">
            </label>

            <!--//Date and Time-->
            <div class="item item-divider assertive">
                date and time
            </div>

            <label class="item item-input">
                <span class="input-label">Date:</span>
                <input type="date" ng-model="newBeacon.startDate">
            </label>

            <label class="item item-input">
                <span class="input-label">start time:</span>
                <input type="time" ng-model="newBeacon.startTime">
            </label>

            <label class="item item-input item-select">
                <span class="input-label">Duration:</span>
                <select ng-model="newBeacon.duration" ng-options="option.min as option.display for option in durationOptions"></select>
            </label>




        </div>

        <div class="text-center">
            <button class="button button-assertive">
                <span class="icon ion-wifi"></span>
                create beacon
            </button>
        </div>


    </ion-content>
</ion-view>